/* ------------------------------------ */
/*				   Sass					*/
/* This is your Sass entry file			*/
/* ------------------------------------ */

.template-button {
    flex: 0 0 20px;
    text-align: center;
    color: #CCC;
    font-size: 14px;
}