/* ------------------------------------ */
/*				   Sass					*/
/* This is your Sass entry file			*/
/* ------------------------------------ */

.template-button {
    flex: 0 0 20px;
    text-align: center;
    color: #CCC;
    font-size: 14px;
}

.journal-template {
    background: grey;
    text-align: center;
    //display: none !important;
}

.templ-folder-config label {
    flex: 3 !important;
}

.edit-template {
    background: rgba(0, 0, 0, 0.1);
    border: 2px groove #f0f0e0;
    width: 100%;
    margin: 3px 1px;
    font-family: var(--main-font-family);
    border-radius: 3px;
    font-size: 14px;
    line-height: 28px;
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
}

.edit-template:hover, .edit-template:focus {
    outline: none;
    box-shadow: 0 0 5px red;
    text-shadow: none;
}

.action-buttons button {
    flex-basis: 40%;
}